@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

body {
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pie-chart{
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    &-content{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    }
}
.chart-text {
  /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
  fill: #000;
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.5em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.7em);
}